body{
  background-color: black;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: black;
}

.container {
  width: 700px;
  height: 768px;
  margin: 50px auto;
  display: grid;
  grid-template: repeat(31,24.8px) /repeat(28, 25px);
  background-image: url('assets/img/pacman-board.png');
  background-size:100%;
  background-repeat: no-repeat;
}
.ghost, .ghostBase{
 text-align: center;
 opacity: 1;
 overflow: hidden;
 margin: -2px;
}
.empty.pacman{
  background-size: 25px 24px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.pacman-left{
  background-image: url('assets/img/pacman-left.gif');
}
.pacman-right{
  background-image: url('assets/img/pacman-right.gif');
}
.pacman-up{
  background-image: url('assets/img/pacman-up.gif');
}
.pacman-down{
  background-image: url('assets/img/pacman-down.gif');
}
.pacman::after{
  content:' ';
  color: rgb(0, 211, 197);
  position: relative;
  top: -21px;
  right: -30px;
  font-size: 1.7rem;
}
.dot{
  background-image: url('assets/img/dot-pacman.png');
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}
.big-dot{
  background-image: url('assets/img/dot-pacman.png');
  background-size: 35px 35px;
  background-position: center center;
  background-repeat: no-repeat;
}
 .gameOn, .gameover{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameover {
  flex-direction: column;
  display: none;
}
.blink{
  filter: grayscale(100%) invert(100%);
}

h1{
  padding: 20px;
  color: yellow;
  font-size: 2rem;
}
h2{
  padding: 20px;
  color: #fff;
  font-size: 2rem;
}
p{
  padding: 20px;
  color: #fff;
  font-size: 2rem;
}
img{
  width:100%;
}